<nav class="navbar sticky-top navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand position-relative start-50 translate-middle-x" href="#">
            <img src="./assets/imgs/logo.svg" alt="Toxiquid" height="48">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
            <ul class="navbar-nav ms-auto fs-2 ">
                <li class="nav-item">
                    <a class="nav-link" style="color: #EDC8F9;" href="https://www.youtube.com/@toxiquid">
                        <i class="fa-brands fa-youtube" ></i><span class="d-lg-none"> Youtube</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: #EDC8F9;" href="https://bsky.app/profile/toxiquid.bsky.social">
                        <i class="fa-brands fa-bluesky"></i><span class="d-lg-none"> Bluesky</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: #EDC8F9;" href="https://x.com/toxiquid">
                        <i class="fa-brands fa-twitter"></i><span class="d-lg-none"> Twitter</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: #EDC8F9;" href="https://www.twitch.tv/toxiquid">
                        <i class="fa-brands fa-twitch" ></i><span class="d-lg-none"> Twitch</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>